[user]
	name = Zane Mingee
	email = zmingee@outlook.com
[color]
	branch = on
	diff = on
	interactive = on
	status = on
[pull]
	default = current
[push]
	default = current
[alias]
	up = pull --rebase --prune
	co = checkout
	ec = config --global -e
	cob = checkout -b
	cm = !git add -A && git commit -m
	undo = reset HEAD~1 --mixed
	amend = commit -a --amend
	prune = fetch --all --prune
[core]
	excludesfile = /home/zane/.gitignore_global
