"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  core:
    allowPendingPaneItems: false
    closeEmptyWindows: false
    disabledPackages: [
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "background-tips"
      "deprecation-cop"
      "encoding-selector"
      "image-view"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-html"
      "language-go"
      "language-git"
      "language-gfm"
      "language-css"
      "language-java"
      "language-javascript"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-toml"
      "language-xml"
      "link"
      "markdown-preview"
      "open-on-github"
      "package-generator"
      "snippets"
      "styleguide"
      "symbols-view"
      "welcome"
      "timecop"
      "spell-check"
      "metrics"
      "grammar-selector"
      "exception-reporting"
      "highlight-column"
    ]
    projectHome: "/Users/zane/Repos"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "bb4156aa-ec90-1db7-0fb7-d2cf3344d937"
  "fold-functions": {}
  "highlight-column": {}
  "highlight-selected": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "status-bar": {}
  tabs: {}
  "todo-show": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 100
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.source":
  editor:
    preferredLineLength: 100
".python.text.traceback":
  editor:
    preferredLineLength: 100
