"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-beautify":
    general:
      _analyticsUserId: "1c4a0a0f-5292-42b2-8f77-ffbdb8ef9c12"
  core:
    allowPendingPaneItems: false
    closeEmptyWindows: false
    disabledPackages: [
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "background-tips"
      "deprecation-cop"
      "encoding-selector"
      "image-view"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-html"
      "language-go"
      "language-git"
      "language-gfm"
      "language-css"
      "language-java"
      "language-javascript"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-toml"
      "language-xml"
      "link"
      "markdown-preview"
      "open-on-github"
      "package-generator"
      "snippets"
      "styleguide"
      "symbols-view"
      "welcome"
      "timecop"
      "metrics"
      "grammar-selector"
      "exception-reporting"
      "highlight-column"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
      ".pyc"
    ]
    projectHome: "/Users/zane/Repos"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "bb4156aa-ec90-1db7-0fb7-d2cf3344d937"
  "fold-functions": {}
  "highlight-column": {}
  "highlight-selected": {}
  linter:
    errorPanelHeight: 131
    inlineTooltipInterval: 100
    lintOnFlyInterval: 100
    showErrorTabLine: true
  "linter-pylint":
    executable: "/Users/zane/.virtualenvs/compute/bin/pylint"
    pythonPath: "/Users/zane/.virtualenvs/compute/bin/python"
    rcFile: "%p/pylint.rc"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "terminal-plus":
    toggles:
      autoClose: true
      runInsertedText: false
  "todo-show": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".console.python.text":
  editor:
    preferredLineLength: 100
".json.source":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.text.traceback":
  editor:
    preferredLineLength: 100
".salt.source":
  editor:
    tabLength: 4
